.widget.widget_hummingbird_widget{
  .anime{
    clear: both;
    margin-bottom: 1em;
    min-height: 145px;
  }

  .anime-cover{
    float:left;
    margin-right:10px;
    width:100px;
  }

  .anime-title{
    font-size:1.2em;
    margin-bottom:0.75em;
  }

  .event-details{
    list-style-type: none;
    font-size: 0.75em;
  }

  p.event-text{
    margin-bottom:0.2em;
  }
}

.hummingbird_shortcode {
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                           not supported by any browser */
    cursor: default;
  }

  .anime {
    float: left;
    width: 210px;
    margin-right: 20px;
    position: relative;
    .anime-title {
      min-height: 105px;
    }
    .overlay {
      height: 304px;
      width:210px;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      padding: 5px 10px;
      color: white;
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%);
      &:hover {
        opacity: 1;
      }
      p{
        font-size:1.2em;
        margin-bottom:15px;
      }
    }
  }

  .modal-header{
    border-bottom:none;
  }

  .modal-body{
    display:inline-block;
    img.anime-cover{
      width:25%;
      float:left;
    }
    .modal-subcontent{
      padding:0 15px;
      width:75%;
      display:inline-block;
      h4{
        clear:none;
      }
      p{
        margin-bottom:15px;
      }
    }
  }

  .modal-footer button{
    color:white;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      min-width:718px;
      width:80%;
      max-width:900px;
    }
  }

  @media (max-width: 767px) {
    .modal-body {
      img.anime-cover {
        display: none;
      }
      .modal-subcontent {
        width: 100%;
        padding:0px;
      }
    }
  }

}

.fade{
  opacity: 0;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
}